<h3>Ruby Notebooks, Voilaa</h3>


<ul id="codes">

</ul>


<div id="editor" style="height: 500px; width: 100%" name="code"></div>
<button onclick="run()">Run</button>
<script>
    var editor = ace.edit("editor");
    editor.getSession().setMode("ace/mode/ruby");
	var run=function (argument) {
		// body...
		var url = '/evaluate';
		var myLoc = { 'code': editor.getValue() };

		$.ajax({
		  type: "POST",
		  url: url,
		  data: myLoc
		});
		editor.setValue("");
	}
</script>


